.wrap {
    width: 500px;
    height: 350px;
    margin: 50px auto 0;
    position: relative;
}

.wrap > input {
    display: none;
}

.slider {
    background-color: #333333;
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: relative;
}

.slides {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.img1 {
    background-image: url("../img/img-1.jpg");
}

.img2 {
    background-image: url("../img/img-2.jpg");
}

.img3 {
    background-image: url("../img/img-3.jpg");
}

.img4 {
    background-image: url("../img/img-4.jpg");
}

.control {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.wrap label {    
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.wrap label::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -4px;
    left: -4px;
    border: 2px solid green;
    border-radius: 50%;
}

#point-1:checked ~ .control label:nth-of-type(1),
#point-2:checked ~ .control label:nth-of-type(2),
#point-3:checked ~ .control label:nth-of-type(3),
#point-4:checked ~ .control label:nth-of-type(4) {
    background-color: green;
}

#point-1:checked ~ .slider > .img1,
#point-2:checked ~ .slider > .img2,
#point-3:checked ~ .slider > .img3,
#point-4:checked ~ .slider > .img4 {
    opacity: 1;
    z-index: 1;
}